# API URL (backend)
VITE_API_URL="http://localhost:3001/api"
SITE_URL="http://localhost:8080"
VKID_CLIENT_ID=""
VKID_REDIRECT_URI="http://localhost:3001/api/auth/social/vkid/callback"
SMS_RU_API_ID=""
SMS_RU_FROM="21day"
SMS_RU_TEST_MODE="1"
